<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wx.exam.mapper.GradeMapper">

    <resultMap id="gradeMapper" type="GradeDO">
        <result property="id" column="id"/>
        <result property="grade" column="grade"/>
        <result property="delFlag" column="del_flag"/>
    </resultMap>

    <sql id="_table">
        grade
	</sql>

    <sql id="_fields">
		id,grade,del_flag
	</sql>

    <sql id="_condition">
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test="id!=null">
                AND id = #{id}
            </if>
            <if test="grade!=null">
                AND grade = #{grade}
            </if>
                AND del_flag = 0
        </trim>
    </sql>

    <sql id="_primaryKey_condition">
		WHERE id = #{id}
	</sql>

    <sql id="_order">
        <if test="sortByParams != null and sortByParams.size()>0" >
            ORDER BY
            <foreach collection="sortByParams.keys" index="index" item="sortByParamKey" separator=",">
                <![CDATA[${sortByParamKey} ${sortByParams[sortByParamKey]}]]>
            </foreach>
        </if>
    </sql>

    <insert id="addGrade" parameterType="GradeVO" keyProperty="id">
        INSERT INTO <include refid="_table"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id!=null">
                id,
            </if>
            <if test="grade!=null">
                grade,
            </if>
            <if test="delFlag!=null">
                del_flag,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id!=null">
                #{id},
            </if>
            <if test="grade!=null">
                #{grade},
            </if>
            <if test="delFlag!=null">
                #{delFlag},
            </if>
        </trim>
    </insert>

    <update id="updateGrade" parameterType="GradeVO">
        UPDATE <include refid="_table"/>
        <set>
            <if test="grade!=null">
                grade = #{grade},
            </if>
            <if test="delFlag!=null">
                del_flag = #{delFlag},
            </if>
        </set>
        <include refid="_primaryKey_condition"/>
    </update>

    <select id="findDetailGrade" resultMap="gradeMapper" parameterType="GradeVO">
        SELECT
        <include refid="_fields"/>
        FROM <include refid="_table"/>
        <include refid="_primaryKey_condition"/>
    </select>

    <select id="listGrade" resultMap="gradeMapper" parameterType="GradeVO">
        SELECT
        <include refid="_fields"/>
        FROM <include refid="_table"/>
        <include refid="_condition"/>
        <include refid="_order"/>
    </select>

    <select id="listGradePage" resultMap="gradeMapper" parameterType="GradeVO">
        SELECT
        <include refid="_fields"/>
        FROM <include refid="_table"/>
        <include refid="_condition"/>
        <include refid="_order"/>
        <if test="startRecord != null and pageSize != null and pageSize >0">
            limit #{startRecord},#{pageSize}
        </if>
        <if test="!(startRecord != null and pageSize != null and pageSize >0)">
            limit 0,15
        </if>
    </select>

    <select id="countGrade" resultType="java.lang.Integer" parameterType="GradeVO">
        SELECT
        COUNT(*)
        FROM <include refid="_table"/>
        <include refid="_condition"/>
    </select>

    <!--此处删除为假删除，需要根据项目逻辑进行处理-->
    <update id="deleteGrade" parameterType="GradeVO">
        update grade set del_flag = 1 where id = #{id};
        <!--DELETE FROM <include refid="_table"/>-->
        <!--<include refid="_primaryKey_condition"/>-->
    </update>

    <select id="grades" parameterType="com.wx.exam.pojo.vo.GradeVO" resultType="com.wx.exam.pojo.data.GradeDO">
        select id ,grade from grade where del_flag=0
        <if test="search!=null">
            and grade LIKE CONCAT ('%',#{search},'%')
        </if>
    </select>

</mapper>