<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wx.exam.mapper.ManagerMapper">

	<resultMap id="managerMapper" type="ManagerDO">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="password" column="password"/>
        <result property="modified" column="modified"/>
	</resultMap>

    <sql id="_table">
        manager
	</sql>

	<sql id="_fields">
		id,`name`,`password`,modified
	</sql>

	<sql id="_condition">
		<trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test="id!=null">
				AND id = #{id}
			</if>
            <if test="name!=null and ''!=name">
				AND `name` = #{name}
			</if>
            <if test="password!=null and ''!=password">
				AND `password` = #{password}
			</if>
            <if test="modified!=null">
				AND modified = #{modified}
			</if>
		</trim>
	</sql>

	<sql id="_primaryKey_condition">
		WHERE id = #{id}
	</sql>

	<sql id="_order">
        <if test="sortByParams!= null and sortByParams.size()>0" >
            ORDER BY
            <foreach collection="sortByParams.keys" index="index" item="sortByParamKey" separator=",">
                <![CDATA[${sortByParamKey} ${sortByParams[sortByParamKey]}]]>
            </foreach>
        </if>
	</sql>

    <insert id="addManager" parameterType="ManagerVO" keyProperty="id">
        INSERT INTO <include refid="_table"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id!=null">
				id,
			</if>
            <if test="name!=null and ''!=name">
				`name`,
			</if>
            <if test="password!=null and ''!=password">
				`password`,
			</if>
            <if test="modified!=null">
				modified,
			</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id!=null">
				#{id},
			</if>
            <if test="name!=null and ''!=name">
				#{name},
			</if>
            <if test="password!=null and ''!=password">
				#{password},
			</if>
            <if test="modified!=null">
				#{modified},
			</if>
        </trim>
    </insert>

    <update id="updateManager" parameterType="ManagerVO">
        UPDATE <include refid="_table"/>
        <set>
            <if test="name!=null and ''!=name">
				`name` = #{name},
			</if>
            <if test="password!=null and ''!=password">
				`password` = #{password},
			</if>
            <if test="modified!=null">
				modified = #{modified},
			</if>
        </set>
        <include refid="_primaryKey_condition"/>
    </update>

    <select id="findDetailManager" resultMap="managerMapper" parameterType="ManagerVO">
        SELECT
        <include refid="_fields"/>
        FROM <include refid="_table"/>
        <include refid="_primaryKey_condition"/>
    </select>

    <select id="listManager" resultMap="managerMapper" parameterType="ManagerVO">
        SELECT
        <include refid="_fields"/>
        FROM <include refid="_table"/>
        <include refid="_condition"/>
	    <include refid="_order"/>
    </select>

    <select id="listManagerPage" resultMap="managerMapper" parameterType="ManagerVO">
        SELECT
        <include refid="_fields"/>
        FROM <include refid="_table"/>
        <include refid="_condition"/>
        <include refid="_order"/>
        <if test="startRecord != null and pageSize != null and pageSize >0">
            limit #{startRecord},#{pageSize}
        </if>
	    <if test="!(startRecord != null and pageSize != null and pageSize >0)">
		    limit 0,15
	    </if>
    </select>

    <select id="countManager" resultType="java.lang.Integer" parameterType="ManagerVO">
        SELECT
        COUNT(*)
        FROM <include refid="_table"/>
        <include refid="_condition"/>
    </select>

    <delete id="deleteManager" parameterType="ManagerVO">
        DELETE FROM <include refid="_table"/>
        <include refid="_primaryKey_condition"/>
    </delete>

</mapper>